/* ===== FONT GOGGLE ===== */
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&family=DM+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Header Menu at mobile version ===== */
@media screen and (max-width: 768px) {
  .header__menu {
    position: fixed;
    width: 80%;
    height: 100%;
    top: 0;
    left: -100%;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 2rem;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 2px 0 8px rgba(22, 23, 24, 0.15);
    transition: 0.3s;
  }
}

.header__menu.show-menu {
  left: 0;
}

/* ===== STICKY HEADER ===== */
.header.sticky-header {
  height: 5rem;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(22, 23, 24, 15%);
}
